<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avans TGTG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 header-main">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo" src="/img/logo_final_img_transparent.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.GetRole() != "CanteenEmployee" && User.GetRole() != "Student") {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pakketten
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="Packages">Aanbod</a></li>
                                </ul>
                            </li>
                        }
                        
                        @if(User.GetRole() == "CanteenEmployee") {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pakketten
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="Packages">Aanbod</a></li>
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="OurPackages">Onze pakketten</a></li>
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="OtherPackages">Andere kantine pakketten</a></li>
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="CreatePackage">Pakket aanmaken</a></li>
                                </ul>
                            </li>
                        }

                        @if(User.GetRole() == "Student") {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pakketten
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="Packages">Aanbod</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Package" asp-action="MyPackages">Mijn pakketten</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                    @if (User.GetRole() != "Student" && User.GetRole() != "CanteenEmployee")
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registreren</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Inloggen</a>
                            </li>
                        </ul>
                    }

                    @if (User.GetRole() == "Student" || User.GetRole() == "CanteenEmployee") 
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" data-toggle="modal" data-target="#logout-modal">Uitloggen</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-main">
        <div class="container">
            &copy; 2022
        </div>
    </footer>

    @if (User.GetRole() == "Student" || User.GetRole() == "CanteenEmployee") {
        <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Uitloggen</h5>
                    </div>
                    <div class="modal-body">
                        Weet je zeker dat je uit wil loggen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sec" data-dismiss="modal">Annuleer</button>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="get">
                            <button type="submit" class="btn btn-primary btn-main">Uitloggen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
