@{
    ViewData["Title"] = "Registreren";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-register">
        <div class="card">
            <img src="/img/register-img-2.jpg" />
            <a class="btn btn-primary btn-main" asp-controller="Account" asp-action="RegisterStudent">Registreren als student</a>
        </div>
    </div>
    <div class="col-lg-6 col-register">
        <div class="card">
            <img src="/img/register-img-1.jpg" />
            <a class="btn btn-primary btn-main" asp-controller="Account" asp-action="RegisterCanteenEmployee">Registreren als kantinemedewerker</a>
        </div>
    </div>
</div>
